.long-lecture-box {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    height: 428px;
    position: relative;
    width: 338px;
}

.long-lecture-box .overlap-group {
    height: 95px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 228px;
}

.long-lecture-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 50px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 129px;
}

.long-lecture-box .div {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 46px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 49px;
    width: 228px;
}

.long-lecture-box .image {
    height: 166px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 120px;
    width: 285px;
}

.long-lecture-box .text-wrapper-2 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 46px;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 303px;
    width: 292px;
}

.long-lecture-box .heart {
    height: 31px !important;
    left: 281px !important;
    position: absolute !important;
    top: 25px !important;
    width: 31px !important;
}
