.horizontal-lecture {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    height: 58px;
    width: 601px;
    display: flex; /* Use flexbox */
    align-items: center; /* Align children vertically in the center */
    justify-content: space-between; /* Space between title and date */
    padding: 0 10px; /* Add padding on both sides */
}

.horizontal-lecture .frame {
    display: flex;
    align-items: center;
    width: 100%; /* Take full width of the parent */
}

.horizontal-lecture .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1; /* Allow it to take available space */
    text-align: left; /* Align text to the left */
}

.horizontal-lecture .div {
    color: #868686;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    text-align: right; /* Align text to the right */
}

.horizontal-lecture.selected-true {
    background-color: #BFD4FC;
}

.horizontal-lecture.selected-false {
    background-color: #ffffff;
}
