.horizontal-lecture-box {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.horizontal-lecture-box .frame {
    display: flex;
    align-items: center;
    width: 100%;
}

.horizontal-lecture-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
    text-align: left;
    max-width: 90%;
    min-width: 80%;
}

.horizontal-lecture-box .div {
    color: #868686;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    text-align: right;
    width: 150px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.horizontal-lecture-box.selected {
    background-color: #BFD4FC;
}

.horizontal-lecture-box.not-selected {
    background-color: #ffffff;
}