* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw; /* Add padding relative to the viewport width */
  height: 109px;
  width: 100%; /* Full width of the parent container */
}

.header .frame {
  display: flex;
  align-items: center;
  gap: 1vw; /* Relative gap based on the viewport width */
}

.header .text-wrapper-2,
.header .text-wrapper-3,
.header .text-wrapper-4 {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 1.95vw; /* Relative font size based on the viewport width */
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.header .overlap {
  background-color: #d6edff;
  border-radius: 50%; /* Make it a perfect circle */
  height: 5vw; /* Relative height based on the viewport width */
  width: 5vw; /* Relative width based on the viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .person-sharp {
  height: 60%; /* Relative to its parent */
  width: 60%; /* Relative to its parent */
}

.header .logo-instance {
  order: -1; /* This will ensure the logo is always first */
  flex-grow: 0; /* Prevent the logo from growing */
}

/* Add media queries for different breakpoints if necessary */
@media (max-width: 768px) {
  .header .text-wrapper-2,
  .header .text-wrapper-3,
  .header .text-wrapper-4 {
    font-size: 5vw; /* Increase font size for smaller screens */
  }
}
