.my-content-box {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    height: 115px;
    width: 243px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.my-content-box .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.my-content-box .div {
    display: flex;
    align-items: center; /* Align children vertically in the center */
    justify-content: space-between; /* Maintain the existing space-between layout */
    width: 100%; /* Full width of the parent container */
}

.my-content-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: left;
    width: 103px;
    align-items: center; /* Align children vertically in the center */

}

.my-content-box .text-wrapper-2 {
    color: #868686;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 85px;
    align-items: center; /* Align children vertically in the center */

}

.my-content-box .text-wrapper-3 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 196px;
    text-align: left; /* Align text to the left */
    align-self: flex-start; /* Align to the start of the flex container */
}
