.my-content-box {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    height: 115px;
    width: 243px;
}

.my-content-box .frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 78px;
    left: 11px;
    position: relative;
    top: 10px;
    width: 212px;
}

.my-content-box .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.my-content-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 77px;
}

.my-content-box .text-wrapper-2 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 123px;
}

.my-content-box .text-wrapper-3 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 196px;
}
