.input-text {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #4b4a4a;
    border-radius: 10px;
    height: 68px;
    position: relative;
    width: 380px;
}

.input-text .text-wrapper {
    color: #b3b3b3;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    height: 30px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 317px;
}
