.input-text {
    background-color: #ffffff;
    border: 1px solid #4b4a4a;
    border-radius: 10px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 380px;
    padding-left: 24px; /* Left padding */
}

/* Style for the input field inside .input-text */
.input-text input {
    border: none; /* Removes default input border */
    outline: none; /* Removes the highlight border on focus */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    color: #4b4a4a; /* Text color */
    background-color: transparent; /* Transparent background */
    padding: 0; /* No padding inside the input */
    margin: 0; /* No margin */
}

/* Style for the placeholder of the input */
.input-text input::placeholder {
    color: #b3b3b3;
}
