.input-text {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #4b4a4a;
    border-radius: 10px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 380px;
    padding-left: 24px; /* 왼쪽 패딩 추가 */
}

.input-text .text-wrapper {
    color: #b3b3b3;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
}
