.smaller-lecture-box {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    height: 206px;
    position: relative;
    width: 310px;
}

.smaller-lecture-box .group {
    height: 30px;
    left: 13px;
    position: absolute;
    top: 10px;
    width: 299px;
}

.smaller-lecture-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}

.smaller-lecture-box .div {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 76px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
}

.smaller-lecture-box .image {
    height: 154px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 41px;
    width: 259px;
}
