.question-box {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.question-box .frame {
    height: auto; /* Updated from fixed height */
    position: relative;
    width: 799px;
}

.question-box .overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    height: auto; /* Updated from fixed height */
    left: 48px;
    position: relative;
    top: 0;
    width: 751px;
}

.question-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    height: auto; /* Adjust height as needed */
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 15px; /* Add bottom margin */
    position: relative;
    top: 8px;
    white-space: normal; /* Allow text wrapping */
    width: 730px;
    text-align: left;
    left: 15px;
}

.question-box .div {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    height: 40px;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.question-box .frame-2 {
    height: 65px;
    position: relative;
    width: 797px;
}

.question-box .overlap {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px;
    height: 65px;
    position: relative;
    top: 0;
    width: 751px;
}

.question-box .text-wrapper-2 {
    color: #b0b0b0;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 0;
    line-height: 40px;
    position: relative;
    top: 8px;
    white-space: nowrap;
    width: 384px;
}
.question-box .input-answer {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    color: #000000;
    font-family: "Noto Sans", Helvetica;
    font-weight: 500;
    font-size: 22px;
    height: 65px;
    letter-spacing: 0;
    line-height: 40px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 46px;
    width: 751px;
  }
  