.class-detail {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(215, 238, 255) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.class-detail .div-2 {
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex; /* Enable flexbox layout */
}

.class-detail .header-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.class-detail .frame-3 {
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 120px;
    width: 100%; /* Full width to contain both frames */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center the children horizontally */
    max-height: 100vh;
}

.class-detail .frame-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    position: relative;
}

.class-detail .frame-5 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 50%; /* Half of the parent container's width */
    align-items: center; /* Center the content vertically */
}

.class-detail .p {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 80%;
}

.class-detail .image {
    object-fit: cover;
    position: relative;
    width: 80%;
}

.class-detail .text-wrapper-6 {
    color: #868686;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: 80%;
}

.class-detail .text-wrapper-7 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: start;
    width: 80%;
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: normal; /* Ensure text wraps normally */
    max-height: 200px;
}

.class-detail .frame-6 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 26px;
    padding: 20px 0px;
    position: relative;
    width: 50%; /* Half of the parent container's width */
    overflow-y: auto; /* Enable vertical scrolling */
    white-space: normal; /* Ensure text wraps normally */
    max-height: 600px;
}

.class-detail .lecture-name-box-instance {
    position: relative !important;
}
