.primary-button {
    background-color: #1a9bfc;
    border-radius: 10px;
    height: 60px;
    width: 228px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.primary-button .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans", Helvetica;
    font-size: 22px;
    font-weight: 600;
    /* Remove the absolute positioning and use flexbox for centering */
    letter-spacing: 0;
    text-align: center;
    /* The width can be 100% to use the full width of the button for centering */
    width: 100%;
}
