.answers {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(215, 238, 255) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300vh;
}

.answers .div-2 {
    position: relative;
    width: 100%;
}

.answers .header-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.answers .frame-4 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    top: 144px;
}

.answers .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.answers .answer-box-instance {
    flex: 0 0 auto !important;
}

.answers .secondary-button {
    background-color: #1e4db7;
    border-radius: 10px;
    height: 60px;
    position: relative;
    width: 228px;
}

.answers .text-wrapper-7 {
    color: #ffffff;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center; /* 텍스트 중앙 정렬 */
}
