.class-list {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(215, 238, 255) 100%); /* Gradient background */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.class-list .overlap-wrapper {
  max-width: 1280px; /* Use max-width instead of width */
  margin: 0 auto; /* Center the wrapper */
  overflow: hidden;
  height: 832px;
}

.class-list .overlap-2,
.class-list .overlap-3 {
  width: 100%; /* Ensure these take full width of their parent */
}


.class-list .side-bar-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.class-list .design-component-instance-node {
  border-radius: unset !important;
}

.class-list .header-instance {
  background-color: transparent !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.class-list .frame-3 {
  margin: 0 auto; /* Center the frame */
  position: relative; /* If absolute positioning is not required */
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 65px 38px;
  left: 279px;
  top: 109px;
  width: 968px;
}

.class-list .lecture-box-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  height: 329px;
  position: relative;
  width: 100%; /* Adjust as needed */
}

.class-list .overlap-4 {
  height: 50px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 331px;
}

.class-list .text-wrapper-8 {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 50px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 0;
  position: relative; /* Adjust if absolute positioning is not necessary */
  width: 100%; 
}

.class-list .text-wrapper-9 {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 46px;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 2px;
  position: relative; /* Adjust if absolute positioning is not necessary */
  width: 100%; }

.class-list .img {
  height: 213px;
  left: 388px;
  object-fit: cover;
  top: -1352px;
  position: relative; /* Adjust if absolute positioning is not necessary */
  width: 100%; }

.class-list .text-wrapper-10 {
  color: #000000;
  font-family: "Noto Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  top: 272px;
  position: relative; /* Adjust if absolute positioning is not necessary */
  width: 100%; }

.class-list .image-2 {
  height: 213px;
  left: -81px;
  object-fit: cover;
  top: -1352px;
  position: relative; /* Adjust if absolute positioning is not necessary */
  width: 100%; 
}
