.class-list {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(215, 238, 255) 100%);
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  width: 100%;
  min-height: 100vh;
}

.class-list .div-2 {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  width: 100%; /* Adjust width as needed */
}

.class-list .header-instance {
  background-color: transparent !important;
  left: 0 !important;
  top: 0 !important;
  position: relative; /* Ensure the header takes up space */
  width: 100%; /* Header spans full width */
}

.class-list .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  width: 100%; /* Take full width */
  gap: 31px;
}

.class-list .frame-4 {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  width: 100%; /* Take full width */
  gap: 29px;
}

.class-list .input-text {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #4b4a4a;
  border-radius: 10px;
  height: 68px;
  position: relative;
  width: 837px;
}

.class-list .text-wrapper-6 {
  color: #b3b3b3;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  height: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 698px;
  text-align: left;
}

.class-list .secondary-button-instance {
  height: 68px !important;
}

.class-list .design-component-instance-node {
  top: 4px !important;
}

.class-list .frame-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: flex-start;
  width: 100%; /* Take full width */
  gap: 40px;
  margin-bottom: 40px;
}

.class-list .lecture-box-instance {
  position: relative !important;
}

.class-list .lecture-box-2 {
  height: 46px !important;
}
