.lecture-name-box {
    border-radius: 10px;
    box-shadow: 3px 3px 10px #00000040;
    height: 66px;
    min-height: 70px;
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center the content */
    padding: 0 25px; /* Add horizontal padding */
    width: 90%;
}

.lecture-name-box .frame {
    display: flex;
    align-items: center;
    gap: 20px; /* Add some space between lecture number and title */
    width: 100%; /* Take up the full width of the parent */
}

.lecture-name-box .text-wrapper {
    color: #000000;
    font-family: "Noto Sans-DisplaySemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    text-align: left; /* Left-align the text */
    white-space: nowrap; /* Prevent text wrapping */
}

.lecture-name-box .div {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: left; /* Left-align the text */
}

.lecture-name-box.selected-true {
    background-color: #BFD4FC;
}

.lecture-name-box.selected-false {
    background-color: #ffffff;
}
