.secondary-button {
  background-color: #1e4db7;
  border-radius: 10px;
  height: 60px;
  width: 228px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
}

.secondary-button .secondary-text-wrapper {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
}
