.secondary-button {
  background-color: #1e4db7;
  border-radius: 10px;
  height: 60px;
  position: relative;
  width: 228px;
}

.secondary-button .text-wrapper-5 {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica;
  font-size: 22px;
  font-weight: 600;
  height: 59px;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 200px;
}
