.lecture-box {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.lecture-box .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.lecture-box .text-wrapper {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 285px;
}

.lecture-box .image {
  height: 166px;
  object-fit: cover;
  width: 285px;
}

.lecture-box .div {
  color: #868686;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: right; /* Align date to the right */
  width: 285px;
}

.lecture-box .text-wrapper-2 {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: left; /* Align description to the left */
  width: 285px;
  margin-bottom: 10px;
}
