.lecture-box {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  height: 406px;
  width: 338px;
}

.lecture-box .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  left: 21px;
  position: relative;
  top: 14px;
}

.lecture-box .text-wrapper {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 294px;
}

.lecture-box .image {
  height: 166px;
  object-fit: cover;
  position: relative;
  width: 285px;
}

.lecture-box .div {
  color: #868686;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
  width: 280px;
}

.lecture-box .text-wrapper-2 {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 292px;
}
