.sidebar-button {
  border-radius: 10px;
  height: 51px;
  position: relative;
  width: 182px;
}

.sidebar-button .text-wrapper {
  font-family: "Noto Sans", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 36px;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 167px;
}

.sidebar-button.default {
  background-color: #1a9bfc;
}

.sidebar-button.default .text-wrapper {
  color: #ffffff;
}

.sidebar-button.variant-2 .text-wrapper {
  color: #000000;
}
