.small-lecture-box {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  height: 261px;
  position: relative;
  width: 356px;
}

.small-lecture-box .text-wrapper {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 46px;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 303px;
}

.small-lecture-box .image {
  height: 177px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 300px;
}
